{% extends 'orgs/org-detail-base.html' %}

{% block title %}机构介绍{% endblock title %}
{% block breach %}机构介绍{% endblock breach %}

{% block right %}
<div class="right companycenter layout" >
        <div class="head">
            <h1>机构介绍</h1>
        </div>
        <div class="des">
            
            <p>
                {% autoescape off %}
                {{org.detail}}
                {% endautoescape %}
                <!-- 这里也可以用过滤器|save来关闭转义 -->
            </p>
            
        </div>
    </div>
{% endblock right %}

